html,
body{
  height: 100%;
  width: 100%;
  background-color: #222222;
  margin: 0;
  padding: 0;
}

body{
  align-content: center;
}

section{
  height: 100%;
  width: 100%;
}

section > div{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}